*{
    margin: 0;
    padding: 0;
}
.main-body{
    margin-top: 15px;
}
.submit{
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-submit{
    background-color: greenyellow;
    border-radius: 6px;
    color: crimson;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    width: 150px;
    border: none;
    padding: 5px;
}
.btn-submit:hover{
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}
