<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .title{
            margin-top: 15px;
            font-size: 25px;
            font-weight: bold;
            color: yellowgreen;
        }
        .element{
            margin-top: 15px;
            color: #0a4e9c;
        }
    </style>
</head>
<body>
<div class="container">
    <h4 class="title" th:text="'Hello Mr/Ms '+${name}"></h4>
    <div class="element" th:text="'This is your account: '+${accountName}"></div>
    <div class="element" th:text="'This is your new password: '+${password}"></div>
</div>
</body>
</html>