<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Account</title>
    <link th:href="@{/css/boostrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/userBankAccount.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/fragments.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bankAccountPage.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header" th:replace="flight-management/fragments.html :: header"></header>
<div class="container">
    <form th:action="@{/user/bank-account}" method="post">
        <div class="row main-body">
            <label class="label-title col-lg-4">Enter Your Bank Account</label>
            <input class="form-control col-lg-8" type="text" name="bankAccountName" placeholder="Bank Account Name">
        </div>
        <div class="submit">
            <button class="btn-submit" type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>