<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Page</title>
    <link th:href="@{/css/boostrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bookingForm.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/fragments.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header" th:replace="flight-management/fragments :: header"></header>
<div class="container flight-list">
    <div class="card custom-card-box">
        <div class="container card-box">
            <div class="row element">
                <div class="col-lg-6">
                    <div class="row my-option-name">
                        <h5 class="city" th:text="'Departure City: '+${flight.departureCity}"></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row my-option-name">
                        <h5 class="city" th:text="'Arrival City: '+${flight.arrivalCity}"></h5>
                    </div>
                </div>
            </div>
            <div class="row element">
                <div class="col-lg-6">
                    <div class="row my-option-name">
                        <h5 class="time" th:text="'Departure Time: '+${#temporals.format(#temporals.createDateTime(flight.departureTime,'yyyy-MM-dd''T''HH:mm'),'dd-MM-yyyy HH:mm')}"></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row my-option-name">
                        <h5 class="time" th:text="'Arrival Time: '+${#temporals.format(#temporals.createDateTime(flight.arrivalTime,'yyyy-MM-dd''T''HH:mm'),'dd-MM-yyyy HH:mm')}"></h5>
                    </div>
                </div>
            </div>
            <div class="row element">
                <div class="col-lg-6">
                    <div class="row my-option-name">
                        <h5 class="price" th:text="'Economy Price: '+${flight.ecnonomyPrice}+'$'"></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row my-option-name">
                        <h5 class="price" th:text="'Business Price: '+${flight.businessPrice}+'$'"></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container aircraft">
            <form th:action="@{/user/booking-ticket}" method="post">
                <input type="number" name="accountId" hidden="hidden" th:value="${loginSession.getAccount().getId()}" readonly>
                <input type="number" name="flightId" hidden="hidden" th:value="${flightId}" readonly>
                <div class="" th:with="aircraft = ${flightService.findAircraftByFlightId(flightId)}">
                    <div class="aircraft-name">
                        <h1 th:text="${aircraft.name}"></h1>
                    </div>
                    <div th:with="aircraftId=${aircraft.id}">
                        <div th:with="cabinList = ${aircraftService.findCabinListByAircraftId(aircraftId)}">
                            <div th:each="cabin : ${cabinList}">
                                <div class="cabin-name" th:text="'---------- '+${cabin.name}+' Cabin ----------'"></div>
                                <div class="cabin" th:with="cabinId=${cabin.id}">
                                    <div th:with="seatRowList = ${aircraftService.findSeatRowListByCabinId(cabinId)}">
                                        <div class="seat-row" th:each="seatRow : ${seatRowList}">
                                            <div th:with="seatRowId=${seatRow.id}">
                                                <div th:with="ticketList = ${ticketService.reLoadTicketListBySeatRowIdAndFlightId(seatRowId, flightId)}">
                                                    <div class="row">
                                                        <div th:each="ticket, iterStat : ${ticketList}" class="">
                                                            <div class="seat">
                                                                <div th:if="${loginSession.isLoggedIn()}">
                                                                    <input type="checkbox"
                                                                           name="selectedTicket"
                                                                           th:if="${bookingSession.isTicketDisableWithThisBooking(ticket.id)}"
                                                                           th:value="${ticket.id}"
                                                                           th:checked="${not ticket.available}"
                                                                           th:id="'check_'+${iterStat}"
                                                                           disabled>
                                                                    <input type="checkbox"
                                                                           th:unless="${bookingSession.isTicketDisableWithThisBooking(ticket.id)}"
                                                                           th:value="${ticket.id}"
                                                                           th:checked="${not ticket.available}"
                                                                           th:id="'check_'+${iterStat}"
                                                                           name="selectedTicket">
                                                                    <label th:class="${bookingSession.isTicketPurchasedByThisAccount(ticket.id)} ? 'custom-checkbox-2' : 'custom-checkbox'"
                                                                           th:data-text="${ticket.seat.name}"
                                                                           th:text="${ticket.seat.name}"
                                                                           th:for="'check_'+${iterStat}">
                                                                    </label>
                                                                </div>
                                                                <div th:unless="${loginSession.isLoggedIn()}">
                                                                    <input type="checkbox"
                                                                           name="selectedTicket"
                                                                           th:value="${ticket.id}"
                                                                           checked="checked"
                                                                           th:id="'check_'+${iterStat}"
                                                                           disabled>
                                                                    <label class="custom-checkbox"
                                                                           th:data-text="${ticket.seat.name}"
                                                                           th:text="${ticket.seat.name}"
                                                                           th:for="'check_'+${iterStat}">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-button">
                    <button class="submit" type="submit">Book</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Seat-->

</body>
</html>