<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Profile</title>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <link th:href="@{/css/boostrap.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/userEditProfile.css}">
    <link th:href="@{/css/fragments.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header" th:replace="flight-management/fragments.html :: header"></header>
<div class="container">
    <div class="title card-box"><h1 class="mt-4" th:text="${title}"></h1></div>
    <form th:action="@{/user/update-profile}" method="post" enctype="multipart/form-data">
        <input type="text"
               th:value="${profileUrl}"
               name="profileUrl"
               readonly
               hidden="hidden">
        <input type="text"
               th:value="${successUrl}"
               name="successUrl"
               readonly
               hidden="hidden">
        <input type="text"
               th:value="${updateSuccess}"
               name="updateSuccess"
               readonly
               hidden="hidden">
        <input class="form-control"
               type="password"
               id="oldPasswordHide"
               th:value="${oldPassword}"
               name="oldPasswordHide"
               hidden="hidden"
               readonly
               required>
        <input type="password" hidden="hidden">
        <!--        image-->
        <div class="card-box">
            <h5 class="form-title">Profile Image</h5>
            <div class="custom-profile-image">
                <label class="custom-profile-image-label" for="profile-image">
                    <div class="image-card" id="profile-image-part1" th:if="${accountImg != null}">
                        <img class="image" th:src="@{*{'data:image/png;base64,'}+${accountImg}}" alt="image">
                    </div>
                    <div class="image-card" id="profile-image-part2" th:if="${accountImg == null}">
                        <img class="image" th:src="@{/images/blankUser.jpg}" alt="image">
                    </div>
                </label>
            </div>
            <div class="profile-image">
                <input id="profile-image"
                       name="profileImage"
                       type="file">
            </div>
            <div class="error" th:text="${accountImgError}"></div>
            <div class="account-name">
                <p th:text="${account.accountName}"></p>
            </div>
        </div>
        <div class="card-box">
            <h5 class="form-title">Confirm Password To Update</h5>
            <!--            password-->
            <div class="row element">
                <div class="col-lg-2">
                    <label class="label-title" for="password">
                        <h6>New Password</h6>
                        <span>(*)</span>
                    </label>
                </div>
                <div class="col-lg-10 field-require">
                    <input class="form-control"
                           type="password"
                           placeholder="New Password"
                           id="password"
                           name="password"
                           th:value="${emptyString}"
                           required>
                </div>
            </div>
<!--            confirm password-->
            <div class="row element">
                <div class="col-lg-2">
                    <label class="label-title" for="repassword">
                        <h6>Confirm Password</h6>
                        <span>(*)</span>
                    </label>
                </div>
                <div class="col-lg-10 field-require">
                    <input class="form-control"
                           type="password"
                           placeholder="Confirm Password"
                           id="repassword"
                           name="repassword"
                           th:value="${emptyString}"
                           required>
                </div>
            </div>
            <div class="error" th:text="${passwordError}"></div>
        </div>

        <div class="card-box">
            <h5 class="form-title">Confirm Password To Update</h5>
            <!--            old password-->
            <div class="row element">
                <div class="col-lg-2">
                    <label class="label-title" for="oldPassword">
                        <h6>Old Password</h6>
                        <span>(*)</span>
                    </label>
                </div>
                <div class="col-lg-10 field-require">
                    <input class="form-control"
                           type="password"
                           placeholder="Old Password"
                           id="oldPassword"
                           name="oldPassword"
                           th:value="${emptyString}"
                           required>
                </div>
            </div>
            <div class="error" th:text="${oldPasswordError}"></div>
        </div>
        <div class="element submit row">
            <div class="submit-box">
                <button class="btn btn-success submit-btn"
                        type="submit">Update Information
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>