<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/boostrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/userAddPromotionTicketForm.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/fragments.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header" th:replace="flight-management/fragments.html :: header"></header>
<div class="container">
    <div class="custom-card-box">
        <div class="row card-box">
            <div class="col-lg-10 ticket-information">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <h5 class="my-option-name city">Departure City:</h5>
                            <h5 class="city" th:text="${flight.departureCity}"></h5>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <h5 class="my-option-name city">Arrival City:</h5>
                            <h5 class="city" th:text="${flight.arrivalCity}"></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 time-box">
                        <div class="row">
                            <h5 class="my-option-name time">Departure Day:</h5>
                            <h5 class="time"
                                th:text="${muf.viewDayMonthYear(flight.departureTime)}"></h5>
                        </div>
                    </div>
                    <div class="col-lg-5 time-box">
                        <div class="row">
                            <h5 class="my-option-name time">Arrival Day:</h5>
                            <h5 class="time"
                                th:text="${muf.viewDayMonthYear(flight.arrivalTime)}"></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 time-box">
                        <div class="row">
                            <h5 class="my-option-name time">Departure Time:</h5>
                            <h5 class="time"
                                th:text="${muf.viewHourMinute(flight.departureTime)}"></h5>
                        </div>
                    </div>
                    <div class="col-lg-5 time-box">
                        <div class="row">
                            <h5 class="my-option-name time">Arrival Time:</h5>
                            <h5 class="time"
                                th:text="${muf.viewHourMinute(flight.arrivalTime)}"></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <h5 class="my-option-name price">Current Price: </h5>
                            <h5 class="price" th:text="${currentTicketPrice}+'$'"></h5>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <h5 class="my-option-name price">Original Price: </h5>
                            <h5 class="price" th:text="${orignialPrice}+'$'"></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-container">
                <div class="title-box">
                    <h4 class="title" th:text="'Promotion Ticket List (Price Reduction: '+${currentReduction}+'%)'"></h4>
                </div>
                <div class="row support">
                    <div class="my-seat col-lg-6" th:text="'Cabin: '+${cabinName}"></div>
                    <div class="my-seat col-lg-6" th:text="'Seat: '+${seatName}"></div>
                </div>
            </div>
            <form class="form-box" th:action="@{/user/add-promotion-to-ticket}" method="post">
                <input class="form-control" type="text" hidden="hidden" readonly th:value="${ticket.id}"
                       name="ticketId">
                <label class="label-title">Enter your promotion ticket code</label>
                <input class="form-control input-box" type="text" name="promotionTicketCode">
                <button class="btn-submit" type="submit">Add Promotion Ticket</button>
            </form>
            <div class="error" th:text="${promotionTicketUseResponse}"></div>
            <div class="promotion-list">
                <div th:if="${promotionTicketList != null}">
                    <div th:each="promotionTicket : ${promotionTicketList}">
                        <div class="row promotion-box">
                            <div class="promotion-code" th:text="${promotionTicket.code}"></div>
                            <a class="remove-link" th:href="@{/user/remove-promotion-from-ticket/{promotionTicketId}/{ticketId}(promotionTicketId=${promotionTicket.id}, ticketId=${ticket.id})}">
                                <button class="btn-remove">Remove Promotion Ticket</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>