<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Generate</title>
</head>
<body>
<button><a th:href="@{/flight-management/test}">Test</a></button>
<button><a th:href="@{/flight-management/mytime-generate}">MyTime Generate</a></button>
<button><a th:href="@{/flight-management/location-data-generate}">Location Data Generate</a></button>
<button><a th:href="@{/flight-management/aircraft-data-generate}">Aircraft Data Generate</a></button>
<button><a th:href="@{/flight-management/flight-ticket-generate}">Flight And Ticket Data Generate</a></button>
<button><a th:href="@{/flight-management/promotion-ticket-generate}">Promotion Tickets Generate</a></button>
<button><a th:href="@{/flight-management/account-generate}">Accounts Generate</a></button>
<button><a th:href="@{/flight-management/bank-account-generate}">Bank Accounts Generate</a></button>


</body>
</html>