<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <link th:href="@{/css/boostrap.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{path/to/font-awesome/css/font-awesome.min.css}">
    <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/fragments.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header" th:replace="flight-management/fragments.html :: header"></header>
<!--Search bar-->
<div class="container">
    <form th:action="@{/flight-management/search}" method="get">
        <div class="search-box row">
            <div class="col-lg-3">
                <label for="departureCityId">Departure City</label>
                <select class="form-control" id="departureCityId" name="departureCityId">
                    <option th:value="0"
                            selected>Choose Departure Country
                    </option>
                    <th:block th:each="city : ${cityList}">
                        <option th:value="${city.id}"
                                th:text="${city.name}"
                                th:selected="${city.id==departureCityId}"></option>
                    </th:block>
                </select>
            </div>
            <div class="col-lg-3">
                <label for="arrivalCityId">Arrival City</label>
                <select class="form-control" id="arrivalCityId" name="arrivalCityId">
                    <option th:value="0"
                            selected>Choose Arrival Country
                    </option>
                    <th:block th:each="city : ${cityList}">
                        <option th:value="${city.id}"
                                th:text="${city.name}"
                                th:selected="${city.id== arrivalCityId}"></option>
                    </th:block>
                </select>
            </div>
            <div class="col-lg-3 time-search">
                <label for="departureTime">Departure Time</label>
                <input class="form-control"
                       type="date"
                       id="departureTime"
                       name="departureTime"
                       th:checked="${departureTime!=null}"
                       th:value="${departureTime}">
            </div>
            <div class="col-lg-3 btn-search-container">
                <button type="submit" class="btn btn-success btn-search">Search</button>
            </div>
        </div>
    </form>
</div>
<!--Flight List-->
<div class="container flight-list">
    <div class="result-search" th:text="${resultSearch}"></div>
    <div class="custom-card-box"
         th:each="flight : ${flightList}"
         id="flightList">
        <div class="row card-box">
            <div class="col-lg-10 ticket-information">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <h5 class="my-option-name city">Departure City:</h5>
                            <h5 class="city" th:text="${flight.departureCity}"></h5>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <h5 class="my-option-name city">Arrival City:</h5>
                            <h5 class="city" th:text="${flight.arrivalCity}"></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 time-box">
                        <div class="row">
                            <h5 class="my-option-name time">Departure Day:</h5>
                            <h5 class="time"
                                th:text="${muf.viewDayMonthYear(flight.departureTime)}"></h5>
                        </div>
                    </div>
                    <div class="col-lg-5 time-box">
                        <div class="row">
                            <h5 class="my-option-name time">Arrival Day:</h5>
                            <h5 class="time"
                                th:text="${muf.viewDayMonthYear(flight.arrivalTime)}"></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 time-box">
                        <div class="row">
                            <h5 class="my-option-name time">Departure Time:</h5>
                            <h5 class="time"
                                th:text="${muf.viewHourMinute(flight.departureTime)}"></h5>
                        </div>
                    </div>
                    <div class="col-lg-5 time-box">
                        <div class="row">
                            <h5 class="my-option-name time">Arrival Time:</h5>
                            <h5 class="time"
                                th:text="${muf.viewHourMinute(flight.arrivalTime)}"></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <p class="my-option-name price">Economy Price: </p>
                            <p class="price" th:text="${flight.ecnonomyPrice}+'$'"></p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <p class="my-option-name price">Business Price: </p>
                            <p class="price" th:text="${flight.businessPrice}+'$'"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 custom-btn-buy">
                <a th:href="@{/user/booking-ticket-page/{flightId}(flightId = ${flight.id})}">
                    <button class="btn-buy">Book</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!--Pagination-->
<div class="container">
    <div class="pagination-box row">
        <a th:href="${homePage}+${firstPage}">
            <button class="btn-page-control">First Page</button>
        </a>
        <a th:href="${homePage}+${previousPage}">
            <button class="btn-page-control">Previous Page</button>
        </a>
        <form class="page-form" th:action="@{/flight-management/search}" , method="get">
            <input type="number" th:value="${departureCityId}" name="departureCityId" readonly hidden="hidden"
                   style="display: none">
            <input type="number" th:value="${arrivalCityId}" name="arrivalCityId" readonly hidden="hidden"
                   style="display: none">
            <input type="date" th:value="${departureTime}" name="departureTime" readonly hidden="hidden"
                   style="display: none">
            <select  id="page" name="page">
                <th:block class="page-selection" th:each="page : ${allPageList}">
                    <option th:value="(${page}-1)"
                            th:text="${page}"
                            th:selected="${page==(currentPage+1)}"></option>
                </th:block>
            </select>
            <button class="btn-page-control-submit" type="submit">Go</button>
        </form>
        <a th:href="${homePage}+${nextPage}">
            <button class="btn-page-control">Next Page</button>
        </a>
        <a th:href="${homePage}+${lastPage}">
            <button class="btn-page-control">Last Page</button>
        </a>
    </div>
</div>
<script th:src="@{/js/home.js}" type="text/javascript"></script>
</body>
</html>